<html>
    <head>
     <meta charset = "ut-8">
    <title></title>
    <link href="main.css" rel="stylesheet" type="text/css" />
    </head>

     <body>
        <div class="wrap">
            <div class="header">
            <h1> Header </h1>
            </div>

            <div class="badan">
                <div class="sidebar">
                Kolom 1
                </div>
                <div class="content">   
                Kolom 2
                </div>
            </div>
        <div class="footer">
        Footer
        </div>
        </div>
        </body>
        </html>

        
            

      

